<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name="proingsoftware.activities.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="proingsoftware.activities.ContactoFuncionarioActivity"
            android:label="CONTACTO FUNCIONARIO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.MenuConsumidorActivity"
            android:label="MENU CONSUMIDOR"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.ConfiguracionActivity"
            android:label="CONFIGURACIONES"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.MenuFuncionarioActivity"
            android:label="MENU FUNCIONARIO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.ProductosSubsidioActivity"
            android:label="SUBSIDIO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.ContactoConsumidorActivity"
            android:label="CONTACTO CONSUMIDOR"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.ListadoReclamosActivity"
            android:label="RECLAMOS"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.NormativaActivity"
            android:label="NORMATIVAS"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.VerReclamoActivity"
            android:label="VER RECLAMO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.IngresoFuncionarioActivity"
            android:label="LOGIN FUNCIONARIO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.InformacionActivity"
            android:label="INFORMACIÓN"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.HacerReclamoActivity"
            android:label="RECLAMAR INFO"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.DescribirReclamoActivity"
            android:label="DECLAMAR DESCRIPCION"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.AnadirProductoActivity"
            android:label="NORMATIVAS"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="proingsoftware.activities.ModificarProductoActivity"
            android:label="NORMATIVAS"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>